/* default setting for html and body */
body,
html {
   box-sizing: border-box; /* ensures spacing of margin, padding and border comes out of the total allocated width/height when defining elements */
   margin: 0;
   padding: 0;
   height: 100%; 
}

/* all elements with no margin or padding */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
}

header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    width: 10%;
    height: 100%;
    background-image: url('Affordable Websites (1).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    width: 50%;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
}

.menu li{
    display: inline;
    justify-content: space-between;
}

.navigation a {
    color: black;
    text-decoration: none;
}

.main {
    max-width: 100vw; /*show full screen*/
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('pawel-czerwinski-Slf8QxaFIWw-unsplash.jpg');
    background-position: center;
    background-size: cover;
    
}

.main-title {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-us {
    width: 90%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 2em;
}

.about-us p {
    width: 45%;
    height: 45%;
    text-align: center;
}

.services {
    width: 90%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 2em;
}

.services>p {
    width: 60%;
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-align: center;
}

.services-breakdown {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-info {
    width: 22.5%;
    height: 70%;
    margin: 0 1em 0;
    padding: 2em 1em;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.services-info>h3 {
    margin: 1em;
    color: white;
    text-align: center;
}

.services-info>p {
    color: white;
    text-align: center;
}

.reviews {
    width: 90%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 2em;
}

.reviews-container {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.reviews-content {
    width: 22.5%;
    height: 70%;
    margin: 1em 1em 0;
    padding: 2em 1em;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.reviews-content>h4 {
    margin-bottom: 1em;
    color: white;
}

.reviews-content>p {
    color: white;
    text-align: center;
}

footer {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer a {
    text-decoration: none;
}

.policy {
    margin: 1em 0 0.5em 0;
}

/* form */
.intake-form {
    max-width: 50%;
    max-height: 90vh;
    display: none;
    background-color: white;
    border: solid 1px black;
    border-radius: 10%;
    padding: 2em;
    position: fixed;
    top: 0%;
    left: 25%;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.xbttn-container {
    text-align: right;
    padding: 10px;
}

.xbttn {
    background: none;
    border: none;
    font-size: 24px;
    cursor:pointer;
}